<section class="gallery py-5">
  <div class="container-fluid">
    <div class="col-md-12 pb-2">
      <h2 class="text-center" v-html="title"></h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="grid pt-4">
          <div class="item" :class="'item-'+index" v-for="(item, index) in items">
            <img class="preview-img-item" 
            :src="item.src" @click="$photoswipe.open(index, items)">
          </div>
      </div>
      </div>
    </div>
  </div>
</section>