<footer class="page-footer font-large primary-color">
  <div class="container text-center text-md-left py-5">
    <div class="row">
      <FooterContacts v-bind:contacts="contacts"/>

      <div class="col-md-6 col-sm-12 mx-auto p-0 m-0 ">
        <div id="map-container-google-4" class="h-100 z-depth-1-half map-container-4">
          <iframe class="w-100 h-100"
            src="https://maps.google.com/maps?q=/Ulitsa+Starovilenskaya+100,+Minsk,+Belarus&t=&z=16&ie=UTF8&iwloc=&output=embed"
            frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://bautek.by"> Bautek.by</a>
  </div>
  <div class="author d-none">Artsem Kniazeu</div>
</footer>